.footerCont {
  background-color: "#f3f4f5";
  color: "#646464";
  min-height: 250px;
  width: 100%;
  font-size: 1.1rem;
}

.area {
  display: flex;
  justify-content: center;
  padding: 1em 10em;
}
.area_left {
  border-bottom: 1px solid gray;
  width: 100%;
  justify-content: start;
}
.area_left_img {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 20px 0 0 0;
  font-size: 0.8rem;
}
.area_right {
  border-bottom: 1px solid gray;
  display: grid;
  justify-content: end;
  text-align: center;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
}
.area_description {
  padding-bottom: 2em;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: center;
}
